/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* **** common *** */

/* delimita lo spazio usato dagli box */
.container {
  margin: 0 auto;
  width: 80%;
}
/* /delimita lo spazio usato dagli box */

/*  permette di posizonare i box uno affianco all'altro */
.row {
  display: flex;
}
/*  /permette di posizonare i box uno affianco all'altro */

/* caratteristich dei link nella pagina */
.link-default {
  color: white;
  text-decoration: none;
}
/* /caratteristich dei link nella pagina */

/* setta il colore del testo a bianco */
.color-white {
  color: white;
}

/* **** common *** */

/* ********** header ********* */

/* grandezza dell'header e colore */
header {
  height: 70px;
  background-color: #ff6900;
  position: fixed;
  width: 100%;
  z-index: 99;
}
/* /grandezza dell'header e colore */

/* dimensione del contenitore e spazziatura dei suo elemnti all'interno */
.cont-top {
  justify-content: space-between;
  padding: 30px 0px;
}
/* /dimensione del contenitore e spazziatura dei suo elemnti all'interno */

/* spaziamento dei vari link tra di loro */
.cont-top li {
  margin: 0 5px;
}
/* /spaziamento dei vari link tra di loro */

/* rimozione dei puntini dalle liste */
.cont-top ul {
  list-style: none;
}
/* /rimozione dei puntini dalle liste */

/* grandezza del logo boolean */
.cont-top img {
  width: 25%;
}
/* /grandezza del logo boolean */

/* grasndezza del contenitore del logo boolean e il suo posizionamenot all'interno */
.cont-logo {
  width: 40%;
  text-align: center;
  vertical-align: middle;
}
/* /grasndezza del contenitore del logo boolean e il suo posizionamenot all'interno */

/* ********** header ********* */

/* ********** main ********* */

/* margin top per dividere l'header */
main {
  padding-top: 70px;
}
/* /margin top per dividere l'header */

/* permette in poszionamento dei box uno sull'altro e li distanzia da ll'header e il footer */
.disp-box {
  flex-wrap: wrap;

  padding: 60px 0;
}
/* /permette in poszionamento dei box uno sull'altro e li distanzia da ll'header e il footer */

/* rimuovo il margine laterale dei box */
.products {
  margin: 0 -10px;
}
/* /rimuovo il margine laterale dei box */

/* conteniore con tutte le infomazioni del capo */
.box {
  width: calc((100% / 3) - 20px);
  margin: 0 10px;
  padding-bottom: 50px;
}
/* /conteniore con tutte le infomazioni del capo */

/* posizionamento dell'immagine del capo */
.cont-img {
  position: relative;
  top: 0;
  left: 0;
}
/* /posizionamento dell'immagine del capo */

/* grandezza dell'immagine */
.box img {
  width: 100%;
  display: block;
}

/* /grandezza dell'immagine */

/* passando il mouse sopra la prima immagine diventa invisibile e mostra l asecondaimagine sotto */

/* posizionamento img 2 sotto img1 */
.hide-capo2 {
  display: none;
}
/* /posizionamento img 2 sotto img1 */

.cont-img:hover .hide-capo2 {
  display: block;
}

.cont-img:hover .hide-capo1 {
  display: none;
}

/* passando il mouse sopra la prima immagine diventa invisibile e mostra l asecondaimagine sotto */

/* posizione di infomazioni aggiuntive rispetto all'immagine */
.disp-box .piu-info {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 80%;
}

/* posizione di infomazioni aggiuntive rispetto all'immagine */

/* colore della percentualer dello sconto */
.sconto {
  background-color: red;
}
/* /colore della percentualer dello sconto */

/* colore delle caratteristiche del capo */
.sostenibilita {
  background-color: green;
}
/* /colore delle caratteristiche del capo */

/* dimensione del box che ha al suo interno le infomazioni aggiuntive */
.box-piu {
  padding: 4px 10px;
  margin-right: 5px;
  color: white;
}
/* dimensione del box che ha al suo interno le infomazioni aggiuntive */

/* posizione del box del cuore rispetto all'immagine*/
.cuore {
  z-index: 10;
  position: absolute;
  right: 0;
  top: 3%;
}
/* posizione del box del cuore rispetto all'immagine*/

/* dimensione box del cuore */
.box-cuore {
  padding: 12px 14px;
  color: black;
  background-color: white;
}
/* /dimensione box del cuore */

/* al passare del mouse sopra il box del cuore il cuore diventa rosso */
.box-cuore:hover {
  color: red;
}

main h3 {
  font-size: 14px;
}

main h4 {
  font-size: 14px;
}

/* colore del prezzo nuovo */
.prezzo-new {
  color: red;
}
/* colore del prezzo nuovo */

/* prezzo vecchio cancellato con una linea */
.prezzo-old {
  text-decoration-line: line-through;
}
/* prezzo vecchio cancellato con una linea */

/* ********** main ********* */

/* ********** Footer ********* */

footer {
  background-color: #1a1a1a;
}

.cont-bottom {
  justify-content: space-between;
  padding: 30px 0;
}

.cont-bottom ul {
  list-style: none;
  margin-top: 12px;
}
.cont-bottom li {
  margin-right: 10px;
}

.link-social {
  font-size: 20px;
}

/* ********** Footer ********* */
